<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <title>Who We Are</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="../images/falconpicture.jpg">
</head>

<body>
  <div class="row">
    <div class="col s3"><img src="../images/falconpicture.jpg"></div>
    <div class="col s9">
      <h1 class="title">Falcon's Math Club</h1>
    </div>
  </div>


  <nav class="blue-grey darken-1 hide-on-med-and-up"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i
        class="material-icons">menu</i></a>
    Menu </nav>

  <ul id="slide-out" class="sidenav hide-on-med-and-up">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>


  <ul class="bigNav hide-on-small-only blue-grey darken-1">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>


  <div class = "section container">
    <img class = "bigpicture" src="../images/IMG_2395.jpeg" alt="Falcon's Math Club's founder">
  </div>
<div class = "whoWeAreText">
  <h5 class = "center">Who We Are</h5>

  <div class="row">
    <div id="Accomplishments" class="section">Falcon's math club is a middleschool club. It helps inspire students
      and
      build their confidence in math. It helps prepare middle schoolers for math competitions and shows them
      different
      ways of thinking about math problems. There will be a vetted student (high school or undergrad) to lead and
      teach
      the club at every meeting.
      </br>
      </br>
      Falcon's math club will provide a vetted student, a curriculum and worksheets for students, diagnostic
      tests, and
      assitance with registration and math tournaments. The curriculum has been carefully crafted and the problems
      have
      been thoughtfully selected from the best competition math problems. The students will get one-on-one help
      with any
      problems they find challenging.
      </br>
      </br>
      The two math tournaments that Falcon's Math Club will prepare the sudents for is Mathcounts and the AMC 8.
      Mathcounts is an in-person math competition that is available for students in 6th grade through 8th grade.
      There
      are 30 questions and students have 40 minutes to complete as many as they can. The AMC 8 has 25 questions
      and
      students also have 40 minutes to complete as many as possible. These are great introducotry competitions and
      can
      help prepare students for the AMC 10 and AMC 12 which they can take in high school.
      </br>
      </br>
      Students will be able to learn time management, learn how different ways to approach math problems, gain
      confidence in their math abilities, and connect with students who share their same interests and
      aspirations.
      Falcon's Math Club is available for all students, no matter their skill or grade level.
    </div>
  </div>
  </div>


  <div class="bios">
    <div class="bio">
      <img class="headshots" src="../images/MMT_Headshot - Copy.jpg" alt="Member">
      <h5 class="center">Layla</h5>
      <p>Layla is a high schooler in 10th grade. She loves teaching and learning new things. In her free time she enjoys reading, doing digital art, and crocheting.</p>
    </div>
  
    <div class="bio">
      <img class="headshots" src="../images/Ali bio pic.jpg" alt="Member">
      <h5 class="center">Ali</h5>
      <p>Ali is currently an 11th grader and is co-founder of Falcon's Math Club. He is an experienced mathlete and loves to introduce others to the beauty and fun of math and problem solving!</p>
    </div>
  
    <div class="bio">
      <img class="headshots" src="../images/Feven bio pic.png" alt="Member">
      <h5 class="center">Feven</h5>
      <p>Hello everyone! I am a dedicated tutor with lots of involvement in NHS, FBLA, and BSU. I'm passionate about helping others reach their full potential.</p>
    </div>

    
  </div>




  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../images/Screenshot 2024-05-13 163759.jpg"></a>
    <!-- <a class="carousel-item" href="#two!"><img src="../images/Screenshot 2024-05-13 163420.jpg"></a> -->
    <a class="carousel-item" href="#three!"><img src="../images/math-1547018_1920.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../images/falconpicture.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../images/IMG_2395.jpeg"></a>
  </div>



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/script.js"></script>
<script src = "../js/materialize.js"></script>

</html>