<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <title>Who We Are</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col s3"><img src="../images/falconpicture.jpg"></div>
        <div class="col s9">
          <h1 class="title">Falcon's Math Club</h1>
        </div>
      </div>
    
    
      <nav class="blue"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        Menu </nav>
    
      <ul id="slide-out" class="sidenav">
    
        <li class="col s2"><a href="#">Home</a></li>
    
        <li class="col s2"><a href="about-us.html">Who We Are</a></li>
    
        <li class="col s2"><a href="how-to-join.html">How to Join</a></li>
    
        <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>
    
        <li class="col s2"><a href="contact-us.html">Contact us</a></li>
      </ul>
    
    <div>
        <img src="../images/IMG_2395.jpeg" alt="Falcon's Math Club's founder">
        <h2>Who We Are</h2>
    </div>
    <div class="row">
        <div id="Accomplishments" class="col s12">Falcon's math club is a middleschool club. It helps inspire students
            and
            build their confidence in math. It helps prepare middle schoolers for math competitions and shows them
            different
            ways of thinking about math problems. There will be a vetted student (high school or undergrad) to lead and
            teach
            the club at every meeting.
            </br>
            </br>
            Falcon's math club will provide a vetted student, a curriculum and worksheets for students, diagnostic
            tests, and
            assitance with registration and math tournaments. The curriculum has been carefully crafted and the problems
            have
            been thoughtfully selected from the best competition math problems. The students will get one-on-one help
            with any
            problems they find challenging.
            </br>
            </br>
            The two math tournaments that Falcon's Math Club will prepare the sudents for is Mathcounts and the AMC 8.
            Mathcounts is an in-person math competition that is available for students in 6th grade through 8th grade.
            There
            are 30 questions and students have 40 minutes to complete as many as they can. The AMC 8 has 25 questions
            and
            students also have 40 minutes to complete as many as possible. These are great introducotry competitions and
            can
            help prepare students for the AMC 10 and AMC 12 which they can take in high school.
            </br>
            </br>
            Students will be able to learn time management, learn how different ways to approach math problems, gain
            confidence in their math abilities, and connect with students who share their same interests and
            aspirations.
            Falcon's Math Club is available for all students, no matter their skill or grade level.
        </div>
    </div>
</body>

</html>