<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col s3"><img src="../images/falconpicture.jpg"></div>
        <div class="col s9">
          <h1 class="title">Falcon's Math Club</h1>
        </div>
      </div>
    
    
      <nav class="blue"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        Menu </nav>
    
      <ul id="slide-out" class="sidenav">
    
        <li class="col s2"><a href="../index.html">Home</a></li>
    
        <li class="col s2"><a href="about-us.html">Who We Are</a></li>
    
        <li class="col s2"><a href="how-to-join.html">How to Join</a></li>
    
        <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>
    
        <li class="col s2"><a href="contact-us.html">Contact us</a></li>
      </ul>
    <div class="row">
        <h2>Contact Us</h2>
        <h3>email</h3>
        <span>math@club.com</span>
        <h3>Phone</h3>
        <span>000-000-0000</span>
        <h3>Location</h3>
        <span>Becker Middle School</span>
        <span>13 rose street</span>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../js/script.js"></script>

</html>