<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <title>Contact Us</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col s3"><img src="../images/falconpicture.jpg"></div>
    <div class="col s9">
      <h1 class="title">Falcon's Math Club</h1>
    </div>
  </div>


  <nav class="blue-grey darken-1 hide-on-med-and-up"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i
        class="material-icons">menu</i></a>
    Menu </nav>

  <ul id="slide-out" class="sidenav hide-on-med-and-up">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>


  <ul class="bigNav hide-on-small-only blue-grey darken-1">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>



  <div class="row">
    <h5 class="section">Contact Us</h5>
    <h7>You can reach Ali and Layla Fasihuddin at:</h7>
    </br>
    </br>
    <h7>Email:</h7>
    </br>
    <span>falconsmathclub13@gmail.com</span>
    </br>
    </br>
    <h7>Phone:</h7>
    </br>
    <span>Coming Soon</span>
    </br>
    </br>
    <h7>FMC's Current Locations:</h7>
    </br>
    <span>Becker Middle School</span>
    <span>Las Vegas</span>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/script.js"></script>

</html>