<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <title>How to Join</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col s3"><img src="../images/falconpicture.jpg"></div>
    <div class="col s9">
      <h1 class="title">Falcon's Math Club</h1>
    </div>
  </div>


  <nav class="blue-grey darken-1 hide-on-med-and-up"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i
        class="material-icons">menu</i></a>
    Menu </nav>

  <ul id="slide-out" class="sidenav hide-on-med-and-up">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>


  <ul class="bigNav hide-on-small-only blue-grey darken-1">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>

  <div class="container">
    <div class="section">
      <h5 class="bullets">How Can My School Sign Up?</h5>
      <br>
      <div class = "box howToJoin">
      <li>Are you a middleschool?</li>
      <li>Are you interested in starting a math club?</li>
      <li>Do you have a teacher who can be the club advisor?</li>
      <li>Are you excited to get your students involved in math tournaments?</li>
      <div>If so, you're ready for Falcon's Math Club.</div>
      <a href = "contact-us.html">Contact us to get started.</a>
    </div>
    </div>
    <br>
    <div class="divider"></div>
    <div class="section">
      <h5 class="bullets">How Can I Become a Coach?</h5>
      <br>
      <div class = "box howToJoin">
      <li>Are you a highschool or undergraduate student?</li>
      <li>Are you passionate about math? (Algebra, Number Theory, and Geometry)</li>
      <li>Are you free one day a week to teach?</li>
      <li>Are you looking for volunteer hours?</li>
      <a href = "contact-us.html">If so, contact us to see if you qualify.</a>
    </div>
    </div>
  </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/script.js"></script>

</html>