<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <title>Lesson Plan</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="../images/falconpicture.jpg">
</head>

<body>
  <div class="row">
    <div class="col s3"><img src="../images/falconpicture.jpg"></div>
    <div class="col s9">
      <h1 class="title">Falcon's Math Club</h1>
    </div>
  </div>


  <nav class="blue-grey darken-1 hide-on-med-and-up"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i
        class="material-icons">menu</i></a>
    Menu </nav>

  <ul id="slide-out" class="sidenav hide-on-med-and-up">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>


  <ul class="bigNav hide-on-small-only blue-grey darken-1">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact Us</a></li>
  </ul>



  <div class="row">
    <div id="initial" class="container">
      <h5 class="section">Enter Password to Access Lesson Plans</h5>
      <input type="text" id="password">
      <button id="submit">Enter</button>
    </div>
    <div id="lesson-plans" class="hide">
      <h5 class="section center">Lesson Plans</h5>
      <div class = "container divider grey"></div>

      <div class = "section center"><a href="../lesson-plan/Lesson 1_ Properties of Arithmetic.pdf">Week 1: Properties of Arithmetic</a></div>

      <div class = "section center"><a href="../lesson-plan/Simple Syllabus.pdf">Week 1: Properties of Arithmetic Solutions</a></div>

      <div class = "section center"><a href="../lesson-plan/Lesson 2_ Exponents.pdf">Week 2: Exponents</a></div>

      <div class = "section center"><a href="../lesson-plan/Simple Syllabus.pdf">Week 2: Exponents Solutions</a></div>

      <div class = "section center"><a href="../lesson-plan/Lesson 3_ Diagnostic Test.pdf">Week 3: Diagnostic Test 1 </a></div>

      <div class = "section center"><a href="../lesson-plan/Simple Syllabus.pdf">Week 3: Diagnostic Test 1 Solutions</a></div>

      <div class = "section center"><a href="../lesson-plan/Lesson 4_ Number Theory.pdf">Week 4: Number Theory</a></div>

      <div class = "section center"><a href="../lesson-plan/Simple Syllabus.pdf">Week 4: Number Theory Solutions</a></div>

      <div class = "section center"><a href="../lesson-plan/Lesson 5_ Fractions .pdf">Week 5: Fractions</a></div>

      <div class = "section center"><a href="../lesson-plan/Simple Syllabus.pdf">Week 5: Fractions Solutions</a></div>

      <div class = "section center"><a href="../lesson-plan/Lesson 6_ Equations and Word Problems.pdf">Week 6: Equations and Word Problems</a></div>

      <div class = "section center"><a href="../lesson-plan/Simple Syllabus.pdf">Week 6: Equations and Word Problems Solutions</a></div>
    </div>
  </div>

  <div class="section"></div>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><span class="material-icons">
          calendar_month
        </span>
        <div class="dropdownWords">2024/25 Calendar</div>
      </div>
      <div class = "collapsible-body"><a href="../lesson-plan/Falcons_Math_Club_Calendar.pdf">Falcon's Math Club 2024/25 School Calendar</a></div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
          menu_book
        </span>
        <div class="dropdownWords">Syllabus</div>
      </div>
      <div class = "collapsible-body"><a href="../lesson-plan/[WEBSITE] Falcon's Math First Year Curriculum Syllabus (2).pdf">Falcon's Math Club 2024/25 Syllabus</a></div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
          home
        </span>
        <div class="dropdownWords">Math Competition Information</div>
      </div>
      <div class="collapsible-body">Coming soon</div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
          quiz
        </span>
        <div class="dropdownWords">Diagnostic Test</div>
      </div>
      <div class = "collapsible-body"><a href="../lesson-plan/Lesson 31_ Diagnostic Test (1).pdf">Falcon's Math Club 2024/25 Diagnostic Test</a></div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
          sticky_note_2
        </span>
        <div class="dropdownWords">Sample Lesson Plan</div>
      </div>
      <div class = "collapsible-body"><a href="../lesson-plan/Lesson 4 Number Theory Sample Lesson Plan.pdf">Falcon's Math Club 2024/25 Sample Lesson Plan</a></div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
          sticky_note_2
        </span>
        <div class="dropdownWords">Sample Lesson Plan Solutions</div>
      </div>
      <div class="collapsible-body">Coming soon</div>
    </li>
  </ul>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/password.js"></script>

</html>