<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <title>Lesson Plan</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col s3"><img src="../images/falconpicture.jpg"></div>
    <div class="col s9">
      <h1 class="title">Falcon's Math Club</h1>
    </div>
  </div>


  <nav class="blue hide-on-med-and-up"> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    Menu </nav>

  <ul id="slide-out" class="sidenav hide-on-med-and-up">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact us</a></li>
  </ul>


  <ul class="bigNav hide-on-small-only blue">

    <li class="col s2"><a href="../index.html">Home</a></li>

    <li class="col s2"><a href="about-us.html">Who We Are</a></li>

    <li class="col s2"><a href="how-to-join.html">How to Join</a></li>

    <li class="col s2"><a href="lesson-plan.html">Lesson Plan</a></li>

    <li class="col s2"><a href="contact-us.html">Contact us</a></li>
  </ul>



  <div class="row">
    <div id = "initial">
      <h5>Enter Password to Access Lesson Plans</h5>
      <input type="text" id="password">
      <button id="submit">Enter</button>
    </div>
    <div id="lesson-plans" class="hide"> 
      <h5>Lesson Plans</h5>
      <a href="../lesson-plan/Simple Syllabus.pdf">test</a>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/script.js"></script>




  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><span class="material-icons">
        volunteer_activism
        </span>Student Testimonial #1</div>
      <div class="collapsible-body">"I don't really like math, but I didn't think I would find myself in a math club enjoying myself." - Myles L.</div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
        home
        </span>Student Testimonial #2</div>
      <div class="collapsible-body">"Math Club is a great club to add to your curriculum. It's all about having fun while improving students' math abilities. You can even get to train your competitive spirit by competing in exciting competitions. Ali is awesome, especially at the competition and learning part. This year we were first place in the Purple Comet Competition." - Vinz V.</div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
          home
        </span>Student Testimonial #3</div>
      <div class="collapsible-body">"Math Club is a fun, easy-going, inclusive club. It doesn't matter if you are bad or a bro at math, they go at a good pace and take time to make sure that everyone is on the same track. They also make it so that everyone is included and really a part of the club. It's also a good way to make friends with your peers. At Math Club we also work on our teammworking skills and work with each other to solve difficult problems." - Brea W.</div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
        volunteer_activism
        </span>Student Testimonial #4</div>
      <div class="collapsible-body">"Math Club is very fun and helps us learn more about math. Ali is very kind and explains the math he is trying to teach." - Riley D.</div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
        home
        </span>Student Testimonial #5</div>
      <div class="collapsible-body">"Math Club isn't just some after school activity. It's a chance to learn something new, show what you know, challenge yourself, make new friends, and we got snacks! You won't regret being on this wonderful adventure. Good luck!" - Seth M.</div>
    </li>
    <li>
      <div class="collapsible-header"><span class="material-icons">
        volunteer_activism
        </span>Student Testimonial #6</div>
      <div class="collapsible-body">"Math Club </br> With math in its name </br> You must know its purpose </br> Or at least </br> That's what you may think </br></br> The Math Club we know </br> (It just goes to show) </br> That math can be fun </br> Something for everyone </br></br> Math Club allows us to bloom and grow </br> To quickly expand on all we know </br> To prepare for the future </br> And none too slow </br> With Math Club I've learned more than I've ever known </br> We are taking a picture </br> Of math of all sorts </br> Wondering, listening </br> Slowly being led to victory </br> Filling it with color </br></br> Our leaders first teach us </br> And then put us to the test </br> With AMC 8 and Mathcounts </br> To determine if we've learned the jest </br> That we have been giving enough information </br> To bring us through concepts and sell </br> The fact that math is worth it </br> And brings possibilities endlessly </br> Letting us all excel." - Natalie A.</div>
    </li>
  </ul>



</html>